  body {
        font-family: Arial, sans-serif;
        margin: 0;
        background: #fff;
    }

    .container {
        width: 1100px;
        margin: auto;
        background: white;
        padding: 30px;
        border-radius: 15px;
        margin-top: 40px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    .product {
        display: flex;
        gap: 40px;
        margin-bottom: 40px;
    }

    /* PRODUCT PHOTO */
    .product__photo {
        flex: 1.2;
    }

    .photo-container {
        background: lightgreen;
        padding: 20px;
        border-radius: 12px;
        border: 2px ;
		box-shadow:10 10 5 2;
    }

    .photo-main img {
        width: 100%;
        border-radius: 12px;
    }

    .photo-album {
        margin-top: 15px;
    }
    .photo-album ul {
        display: flex;
        gap: 15px;
        list-style: none;
        padding: 0;
    }
    .photo-album li img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid #ddd;
        cursor: pointer;
    }

    /* PRODUCT DETAILS */
    .details {
        flex: 1.5;
    }

    .price {
        font-size: 32px;
        font-weight: bold;
        color: #d9534f;
        margin-bottom: 20px;
    }

    .variant {
        margin: 25px 0;
    }

    .variant h3 {
        margin-bottom: 10px;
    }

    .variant .options {
        display: flex;
        gap: 15px;
    }

    .variant img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #ccc;
        cursor: pointer;
        transition: 0.3s;
		display:flex;
    }
    .variant img:hover {
        transform: scale(1.1);
        border-color: #111;
    }

    .description {
        margin-top: 25px;
    }

    .description h2 {
        margin-bottom: 10px;
        color: #444;
    }

    .add-to-cart {
        margin-top: 40px;
        text-align: center;
    }

    .btn {
        background: #28a745;
        color: white;
        padding: 14px 25px;
        border-radius: 8px;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
    }

    .btn:hover {
        background: #218838;
    }